*.iml
*.log
*.log.*
.idea
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
.DS_Store
Thumbs.db
.project
.*proj
.svn
*.swp
*.swo
*.pyc
*.pyo
node_modules
.cache
*.css
build
coverage
*.js
*.jsx
*.map
!assets/*.css
!es/*.js
!lib/*.js
!tests/*.js
!/index*.js
ios/
android/
xcuserdata
yarn.lock
package-lock.json
_ts2js
.history
